/* 
-------------------------------------
Tooltips
-------------------------------------
*/

.tooltipster-icon {
    cursor: help;
    margin-left: 2px;
    background: #0078c9;
    border: 3px solid #0078c9;
    width: 2.3em;
    height: 2.3em;
    padding: 0.4em 0 0;
    margin: 2em 0 0 -1em;
}

.tooltipster-default .tooltipster-content {
    font-family: 'Open Sans', sans-serif;
}
.tooltipster-default .tooltipster-content img {
    float: left;
    margin-right: 10px;
    border: 2px solid #000;
}
.tooltipster-default .tooltipster-content p {
    margin: 0;
}
.tooltipster-default .tooltipster-content a {
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
.tooltipster-default .tooltipster-content a:hover {
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,1);
}

.tooltipster-blue {
    background: #0078c9;
    color: #fff;
    border-radius: 5px;
}
.tooltipster-blue .tooltipster-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
}

.tooltipster-white {
    background: #fff;
    color: #0078c9;
    border-radius: 5px; 
}
.tooltipster-white .tooltipster-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
}

.tooltipster-pink {
    background: url(./pattern-navy.png);
    background-color: #ff3c70;
    color: #fff; 
    border-radius: 5px; 
    box-shadow: inset -3px -3px 0 #ff3c70;
}
.tooltipster-pink .tooltipster-content {
    font-family: 'Courier', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding: 15px 18px;
}



/* 
-------------------------------------
Themes
-------------------------------------
*/

.themes span {
    display: inline-block;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    opacity: 0.8;
}

.tooltipster-default-preview {
    border-radius: 5px; 
    border: 2px solid #000;
    background: #4c4c4c;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    font-weight: 400;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.tooltipster-light-preview {
    border-radius: 5px; 
    border: 1px solid #cccccc;
    background: #ededed;
    color: #666666;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    font-weight: 400;
}

.tooltipster-punk-preview {
    border-radius: 5px;
    border-bottom: 3px solid #f71169;
    background: #2a2a2a;
    color: #fff;
    font-family: 'Courier', monospace;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    font-weight: 400;
}

.tooltipster-noir-preview {
    border-radius: 0px;
    border: 3px solid #2c2c2c;
    background: #fff;
    color: #2c2c2c;
    font-family: 'Georgia', serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    font-weight: 400;
}

.tooltipster-shadow-preview {
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
    color: #2c2c2c;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    font-weight: 400;
}